<div class='row'>
	<div class='small-12 columns'>
		<h1>Tasks</h1>
	</div>
</div>

<div class='row'>
	<div class='small-12 columns'>
		<%= render 'add' %>
	</div>
</div>

<div class='row'>
	<div class='small-12 columns'>
		<%= render 'list' %>
	</div>
</div>
