<div class='row'>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<h1>Covey Task Manager</h1>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<%= render 'task_form' %>
	</div>
</div>

<div class='row'>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<%= render 'task_table' %>
	</div>
</div>
