.range-slider-handle {

	display: flex;
	justify-content: center;
	align-items: center;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	color: #fff;
	font-size: 75%;

	border-radius: 1000px;
}

.button {
}

/*
 *#urgency_slider .range-slider-active-segment {
 *    background: #BA2E00;
 *}
 *
 *#importance_slider .range-slider-active-segment {
 *    background: #008CBA;
 *}
 */

#task_urgency {
	position: relative;
	top: 50%;
	transform: translateY(25%);
}

#task_importance {
	position: relative;
	top: 50%;
	transform: translateY(25%);
}

.list-table {
	width: 100%;
}

th:nth-child(1) { width: 500px; }
th:nth-child(2) { width: 100px; }
th:nth-child(3) { width: 100px; }
th:nth-child(4) { width: 200px; }

.tableheaders {
	font-size: 75%;
	font-weight: bold;
	background: #EDEDED;
}

/*.quadrant-1, .quadrant-2, .quadrant-3, .quadrant-4 { font-size: 75%; }*/


.quadrant-1.normal-color { background: #FFEF73; }
.quadrant-1.alternate-color { background: #FFEF73; }

.quadrant-2.normal-color { background: #FFFD96; }
.quadrant-2.alternate-color { background: #FFFD96; }

.quadrant-3.normal-color { background: #FFFEBA; }
.quadrant-3.alternate-color { background: #FFFEBA; }

.quadrant-4.normal-color { background: #FFFED6; }
.quadrant-4.alternate-color { background: #FFFED6; }
